.navbar {
    @include display-flex( center, space-between );
    background-color: $main;
    position: relative;
    padding: 9px 27px;

    .menu {
        &__icon {
            display: inline-block;
            @include width-and-height;
            cursor: pointer;
            &:before { font-size: 18px; }
        }

        &__content {
            @include shadow;

            .menu__sidenav {
                position: fixed;
                top: 0;
                left: -100%;
                background: #FFF;
                z-index: $zIndexSidenav;
                width: 70vw;
                max-width: 400px;
                height: 100%;
                transition: left .3s ease;
                padding: 24px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                &-icon {
                    align-self: flex-end;
                    cursor: pointer;

                    &::before {
                        color: #000;    
                        font-size: 20px;
                    }

                }

                &-items {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    gap: 60px;

                    .menu__item {
                        display: block;
                        width: 100%;
                        text-align: center;

                        .menu__link {
                            font: normal normal 900 22px/24px Lato;
                            text-transform: uppercase;
                            color: $grey5;
                            transition: color .3s ease;
                            position: relative;

                            &::before {
                                position: absolute;                                
                                content: '';
                                display: block;
                                width: 0;
                                height: 3px;
                                background-color: $highlight;
                                top: 100%;
                                left: 0;
                                transition: width .2s ease-in-out;
                            }

                            &:hover {
                                &::before {
                                    width: 100%;
                                }
                            }

                            @media ( min-width: $mdSize ) {
                                font-size: 28px;
                            }
                        }

                        &:first-child .menu__link {
                            color: $highlight;
                        }
                    }
                }

                &-user {
                    @include display-flex;
                    font: normal normal normal 13px/18px Nunito;
                    color: $grey7;

                    .icon-user {
                        margin-right: 15px;
                        
                        &::before {
                            color: #000;    
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        &.active {
            .menu__content {
                @include shadow-active;

                .menu__sidenav {
                    left: 0;
                }
            }
        }
    }

    .logo {
        &__icon {
            display: inline-block;
            @include width-and-height;

            &::before { 
                font-size: 34px;
                transition: color .3s ease;
            }

            &:hover::before {
                color: $highlight;
            }
        }

        @media ( min-width: $mdSize ) {
            margin: 0 132px 0 20px;
            flex-shrink: 0;
        }
        
        @media ( min-width: $xxlSize ) {
            margin-left: 30px;
        }
    }

    .searcher {
        background-color: $main;
        @include position-top-left( absolute, 100%, 0 );
        width: 100%;
        padding: 18px 27px;

        &__form {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $grey7;
            padding: 5px 0;

            &-input,
            &-button {
                margin: 0;
                padding: 0;
                border: 0;
                outline: 0;
                background-color: transparent;
            }
            
            &-input {
                width: 100%;
                margin: 0;
                font: normal normal normal 13px/normal Nunito;
                color: $grey7;
                padding-right: 5px;
                
                &::placeholder{ 
                    font: normal normal normal 13px/normal Nunito; 
                    color: $grey7;
                }

                @media ( min-width: $mdSize ) {
                    font: normal normal normal 13px/27px Nunito;
                }
            }

            &-button {
                flex-shrink: 0;
                cursor: pointer;
            }
        }

        &__modal {
            display: none;
            background-color: #FFF;
            box-shadow: 0 0 3px rgba(0,0,0,.5);
            position: absolute;
            top: calc(100% + 10px);
            left: 50%;
            transform: translateX(-50%);
            width: 95%;
            height: auto;
            padding: 15px;
            z-index: $zIndexSidenav;

            @media ( min-width: $mdSize ) {
                left: 0;
                transform: none;
                width: 100%;
                min-width: 300px;
            }

            &.show-results {
                display: block;
                .searcher__modal-results { display: block; }
                .searcher__modal-message { display: none; }
            }

            &.show-message {
                display: block;
                .searcher__modal-results { display: none; }
                .searcher__modal-message { display: block; }
            }

            &-results {
                display: none;

                .modal-results__products {
                    max-height: 300px;                    
                    overflow-x: hidden;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .product {
                        // background-color: peru;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        width: 100%;
                        border-bottom: 1px solid $grey7;
                        transition: transform .3s ease;

                        &:hover {
                            transform: scale(1.01);
                        }

                        &__thumbnail {
                            width: 75px;
                            height: 75px;
                            overflow: hidden;
                            margin-right: 12px;
                            position: relative;
                            
                            &-img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                font-size: 0;
                                position: relative;
                                z-index: 5;
                            }

                            &::after {
                                z-index: 2;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate( -50%, -50% );
                                @include spinner(#000);
                                animation: custom-spinner .4s linear infinite;

                                @keyframes custom-spinner {
                                    to { transform: translate( -50%, -50% ) rotate( 360deg ); }
                                }
                            }
                        }

                        &__name {
                            font: normal normal normal 13px/18px Nunito;
                            color: #000;
                        }
                    }
                }

                .modal-results__button {
                    margin-top: 20px;
                    padding: 14px 0;
                }
            }

            &-message {
                // background-color: yellow;
                display: none;
                text-align: center;
                font: normal normal normal 13px/18px Nunito;
                color: #000;
            }
        }

        @media ( min-width: $mdSize ) {
            padding: 0;
            width: 100%;
            position: relative;
            inset: auto;
        }
    }

    .user {
        margin: 0 44px;
        flex-shrink: 0;
        display: none;

        &__link {
            @include display-flex;

            .user__icon {
                margin-right: 6px;
                &::before { font-size: 16px; }
            }

            .user__text {
                font: normal normal normal 13px/18px Nunito;
                color: $grey7;
            }
        }

        @media ( min-width: $mdSize ) {
            display: inline-block;
        }
    }

    .minicart {
        &__icon {
            cursor: pointer;
            @include display-flex( center, space-between );
            gap: 8px;

            .icon-mini-cart {
                display: inline-block;
                @include width-and-height( auto, 100% );
                &::before { font-size: 19px; }
            }

            .minicart__quantity {
                @include display-flex;
                @include width-and-height( 18px, 18px );
                border-radius: 50%;
                background-color: $highlight;
                font: normal normal bold 10px/26px Nunito;
                color: $main;
            }
        }

        &__input {
            display: none;

            &:checked + .minicart__shadow {
                @include shadow-active;

                & + .minicart__sidenav {
                    right: 0;
                }
            }
        }

        &__shadow {
            @include shadow;
        }

        &__sidenav {
            position: fixed;            
            top: 0;
            right: -100%;
            width: 70vw;
            max-width: 400px;
            height: 100%;
            background-color: #FFF;
            z-index: $zIndexSidenav;
            transition: right .3s ease;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr auto;
            gap: 24px;
            padding: 24px;

            &-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 9px;
                border-bottom: 2px solid $grey7;

                .sidenav-title {
                    @include display-flex;
                    
                    &__text {
                        font: normal normal normal 13px/18px Nunito;
                        color: $grey7;
                    }

                    &__icon {
                        margin-right: 10px;
                    }
                }
                
                .sidenav-label {
                    @include display-flex;
                    cursor: pointer;
                    
                    &__text {
                        font: normal normal normal 13px/18px Nunito;
                        color: $grey7;
                    }

                    &__icon {
                        margin-left: 10px;
                        &::before { font-size: 12px; } 
                    }
                }
            }

            &-body {
                // background-color: transparent;
                background-color: orange;
                overflow-x: hidden;
                overflow-y: auto;
            }

            &-footer {

                .sidenav-footer__subtotal,
                .sidenav-footer__total {
                    @include display-flex( center, space-between );
                    font: normal normal bold 15px/24px Nunito;
                    color: $grey7;
                    border-top: 1px solid $grey7;
                    padding: 18px 0;
                }

                .sidenav-footer__total {
                    color: #000;
                }

                .sidenav-footer__button {
                    padding: 15px 0;
                    margin-top: 12px;
                    font-size: 15px;
                }
            }
        }
    }

    @media ( min-width: $mdSize ) {
        justify-content: center;
        padding: 23px 6%;
    }

    @media ( min-width: $xxlSize ) {
        padding: 23px 361px 23px 341px;
    }
}