.swiper.main-slider {
    @include width-and-height( 100%, 255px );
    background-color: #FFF;
    overflow: hidden;

    .swiper-slide {
        overflow: hidden;

        &__img {
            @include width-and-height;
            object-fit: cover;
        }
        
        &.first {
            display: flex;
            
            .swiper-slide__wave {
                @include width-and-height;
                overflow: hidden;
                background-image: url('https://images.pexels.com/photos/34577/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=1280&w=1920');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                @include withSpinner;

                &::after {
                    @include width-and-height( 30px, 30px );
                    left: 50%;
                    border-width: 4px;
                    z-index: -1;

                    @media ( min-width: $lgSize ) {
                        left: 75%;                        
                    }
                }

                &::before {
                    @include position-top-left( absolute, 0, 0 );
                    @include width-and-height;
                    content: '';
                    display: block;
                    background-color: rgba( 0,0,0,.6 );
                }

                @media ( min-width: $lgSize ) {
                    background-size: 55% 100%;
                    background-position: right;

                    &::before {
                        display: none;
                    }
                }

                @media ( min-width: $xlSize ) {
                    background-size: 55%;
                }

                .wave-svg {
                    @include width-and-height;
                    display: none;

                    .wave-path {
                        stroke: none;
                        fill: $secondary;
                    }

                    @media ( min-width: $lgSize ) {
                        display: block;
                    }
                }
            }

            .swiper-slide__text {
                display: none;
                position: absolute;
                @include width-and-height;
                @include display-flex( flex-start, center, column );
                z-index: 5;
                padding-left: 26px;
                color: #FFF;

                &-first {
                    font: normal normal bold 24px/30px Nunito;
                    margin-bottom: 12px;
                }

                &-second {
                    font: normal normal bold 32px/40px Nunito;
                    max-width: 400px;
                }

                @media ( min-width: $mdSize ) {
                    padding-left: 50px;
                    
                    &-first {
                        font: normal normal bold 30px/30px Nunito;
                        margin-bottom: 30px;
                    }
    
                    &-second {
                        font: normal normal 900 48px/54px Nunito;
                        max-width: 505px;
                    }
                }

                @media ( min-width: 1500px ) {
                    padding: 0;
                    left: 15%;
                }
            }

            .swiper-slide__img {
                width: 50%;
                display: none;
            }
        }
    }

    .swiper-pagination {
        bottom: 18px;
        
        .swiper-pagination-bullet {
            @include width-and-height( 10px, 10px );
            background-color: $grey8;
            opacity: 1;

            &.swiper-pagination-bullet-active {
                background-color: $highlight;
            }
        }

        @media ( min-width: $mdSize ) {
            bottom: 37px;
        }
    }

    @media ( min-width: $mdSize ) {
        height: 430px;
    }
}