.navbar .searcher {
    @include position-top-left( absolute, 100%, 0 );
    background-color: $main;
    width: 100%;
    padding: 18px 27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    &__form {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $grey7;
        padding: 5px 0;

        &-input,
        &-button {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            background-color: transparent;
        }
        
        &-input {
            width: 100%;
            margin: 0;
            font: normal normal normal 13px/normal Nunito;
            color: $grey7;
            padding-right: 5px;
            
            &::placeholder{ 
                font: normal normal normal 13px/normal Nunito; 
                color: $grey7;
            }

            @media ( min-width: $mdSize ) {
                font: normal normal normal 13px/27px Nunito;
            }
        }

        &-button {
            flex-shrink: 0;
            cursor: pointer;
        }
    }

    &__modal {
        display: none;
        @include width-and-height( 95%, auto );
        @include position-top-left( absolute, calc(100% + 10px), 50% );
        background-color: #FFF;
        box-shadow: 0 0 3px rgba(0,0,0,.5);
        padding: 15px;
        z-index: 100;
        transform: translateX(-50%);

        &.show-results {
            display: block;
            .searcher__modal-results { display: block; }
            .searcher__modal-message { display: none; }
        }

        &.show-message {
            display: block;
            .searcher__modal-results { display: none; }
            .searcher__modal-message { display: block; }
        }

        &-results {
            display: none;

            .modal-results__products {
                max-height: 300px;                    
                overflow-x: hidden;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .product {
                    @include display-flex( center, flex-start ); 
                    width: 100%;
                    border-bottom: 1px solid $grey7;
                    transition: transform .3s ease;

                    &:hover {
                        transform: scale(1.01);
                    }

                    &__thumbnail {
                        @include width-and-height( 75px, 75px ); 
                        overflow: hidden;
                        margin-right: 12px;
                        @include withSpinner;
                        
                        &-img {
                            @include width-and-height; 
                            object-fit: contain;
                        }
                    }

                    &__name {
                        font: normal normal normal 13px/18px Nunito;
                        color: #000;
                    }
                }
            }

            .modal-results__button {
                margin-top: 20px;
                padding: 14px 0;
            }
        }

        &-message {
            display: none;
            font: normal normal normal 13px/18px Nunito;
            text-align: center;
            color: #000;
        }

        @media ( min-width: $mdSize ) {
            left: 0;
            transform: none;
            width: 100%;
            min-width: 300px;
        }
    }

    @media ( min-width: $mdSize ) {
        position: relative;
        inset: auto;
        width: 100%;
        max-width: 718px;
        border-bottom: none;
        padding: 0;
    }
}