.footer .newsletter {
    background-color: $grey3;
    padding: 12px 27px 26px 27px;

    &__title {
        margin-bottom: 17px;
        font: normal normal bold 22px/24px Lato;
        color: $grey5;

        @media ( min-width: $mdSize ) {
            margin-bottom: 15px;
            text-align: center;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 18px;

        &-field {
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            .newsletter__form-input {
                width: 100%;
                background-color: $main;
                border-radius: 6px;
                padding: 16px 22px;
                font: normal normal bold 12px/14px Lato;
                color: $grey4;
                border: 0;
                outline: 0;

                &::placeholder {
                    font: normal normal bold 12px/14px Lato;
                    color: $grey4;
                }

                @media ( min-width: $mdSize ) {
                    width: 280px;
                }
            }

            .newsletter__form-error {
                font: normal normal normal 13px/12px Nunito;
                color: $error;
                display: none;
            }

            &.is-error {

                .newsletter__form-error {
                    display: inline-block;
                }
            }
        }

        &-button {
            height: 50px;

            &.loading {
                pointer-events: none;
                cursor: default;
                opacity: .5;
                .text { display: none; }
                .spinner { display: flex; }
            }

            @media ( min-width: $mdSize ) {
                font: normal normal 700 14px/normal Lato;
                @include width-and-height( auto, 47px );
                padding: 0 40px;
            }

            .text {
                display: block;
            }

            .spinner {
                display: none;
                align-items: center;
                justify-content: center;

                &::after {
                    margin-left: 10px;
                    @include spinner(#FFF);
                }
            }
        }

        @media ( min-width: $mdSize ) {
            @include display-flex( flex-start, center );
            gap: 8px;
            width: 100%;
        }
    }

    &__messages {
        text-align: center;

        .msg {
            font: normal normal normal 13px/12px Nunito;
            margin-top: 10px;
            display: none;

            &.is-error,
            &.show {
                display: inline-block;
            }
        }

        .email,
        .error {
            color: $error
        }

        .success {
            color: $success;
        }
    }

    @media ( min-width: $mdSize ) {
        padding: 16px 27px 38px 27px;
    }
}